* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg: rgba(255, 255, 255, 1);
    --accent: rgba(192, 173, 96, 1);
    --main: rgba(0, 0, 0, 1);
    --string: rgba(253, 149, 90, 1);
    --prop: rgba(51, 170, 255, 1);
    --comment: rgba(101, 101, 101, 1);
    --name: rgb(0, 114, 40);

    --b: rgba(220, 169, 110, 1);
    --c: rgba(213, 93, 137, 1);
    
  }

  [data-theme="dark"] {
    --bg: rgba(5, 17, 18, 1);
    --accent: rgba(221, 79, 39, 1);
    --main: rgba(164, 190, 193, 1);
    --string: rgba(65, 232, 149, 1);
    --prop: rgba(27, 147, 167, 1);
    --comment: rgba(74, 115, 120, 1);
    --name: rgba(175, 119, 24, 1);
  }

  @font-face {
    font-family: rubik;
    src: url("../assets/Rubik/Rubik-VariableFont_wght.ttf");
  }
  
  html, body {
    background-color: var(--bg);
    color: var(--main);
    height: 100%;
    font-family: "rubik", "Arial";
  }
  
  body {
    display: flex;
    justify-content: left;
  }

  .accent-highlight {
    color: var(--accent);
  }
  .string-highlight {
    color: var(--string);
  }
  .prop-highlight {
    color: var(--prop);
  }
  .name-highlight {
    color: var(--name);
  }
  .comment {
    color: var(--comment);
  }
  .main {
    color: var(--main);
  }

  .info {
    cursor: pointer;
  }
  .info:hover {
    color: var(--string);
  }

  #lightdark {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  svg path {
    fill: var(--main);
  }

  /* needed to indent the tools and languages wrapped text */
  /* #pushbox {
    border: 1px solid red;
    position: float;
    height: 10em;
    width: 12em;
    margin-top: 15em;
  } */

  #typewriter {
    font-size: 2em;
    margin: 0;
    line-height: 40px;
    font-family: "Menlo", "Monaco", 'Courier New', monospace;
  }
  #typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
  }

  #languages, #tools {
    vertical-align: top;
  }
  
  #typewriter .preserve-whitespace {
    width: 60%;
    /* display: inline-block; */
    white-space: pre-wrap;
  }

  .project-info {
    border: 1px solid darkcyan;
    color: var(--prop);
    /* display: none; */
    /* margin-top: -40px; */
    transition: all 1s ease;
    width: 21em;
    white-space: pre-wrap;
    padding: 4px;
  }
  .collapsed {
    height: 0;
    display: none;
  }
  .expanded {
    height: auto;
    display: inline-block;
    overflow: wrap;
  }

  @-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }