* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg: rgba(255, 255, 255, 1);
    --accent: rgba(192, 173, 96, 1);
    --main: rgba(0, 0, 0, 1);
    --string: rgba(253, 149, 90, 1);
    --prop: rgba(51, 170, 255, 1);
    --comment: rgba(101, 101, 101, 1);
    --name: rgb(0, 114, 40);

    --b: rgba(220, 169, 110, 1);
    --c: rgba(213, 93, 137, 1);
    
  }

  [data-theme="dark"] {
    --bg: rgba(5, 17, 18, 1);
    --accent: rgba(221, 79, 39, 1);
    --main: rgba(164, 190, 193, 1);
    --string: rgba(65, 232, 149, 1);
    --prop: rgba(27, 147, 167, 1);
    --comment: rgba(74, 115, 120, 1);
    --name: rgba(175, 119, 24, 1);
  }

  @font-face {
    font-family: rubik;
    src: url("../assets/Rubik/Rubik-VariableFont_wght.ttf");
  }
  
  html, body {
    background-color: var(--bg);
    color: var(--main);
    height: 100%;
    font-family: "rubik", "Arial";
  }
  
  body {
    display: flex;
    justify-content: left;
  }

  .accent-highlight {
    color: var(--accent);
  }
  .string-highlight {
    color: var(--string);
  }
  .prop-highlight {
    color: var(--prop);
  }
  .name-highlight {
    color: var(--name);
  }
  .comment {
    color: var(--comment);
  }
  .main {
    color: var(--main);
  }

  .info {
    cursor: pointer;
    overflow: hidden;
    transition: all 100ms ease;
  }
  .info:hover {
    color: var(--string);
    border-radius: 100%;
  }

  .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms ease;
  }

  #lightdark {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  svg path {
    fill: var(--main);
  }

  #typewriter {
      font-size: 2em;
      margin: 0;
      line-height: 40px;
      font-family: "Menlo", "Monaco", 'Courier New', monospace;
  }
  #typewriter:after {
        content: "|";
        animation: blink 500ms linear infinite alternate;
      }
  
  @-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }